:root {
  --primary-text-color: #000;
  --background-header-color: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(250,252,250,1) 15%, rgba(232,254,231,1) 20%, rgba(113,249,111,1) 66%, rgba(0,255,93,0.9417016806722689) 100%);


  --main-font-family: Noto Serif, serif;
}