<div class="gallery">
  <h1 class="gallery-title">З любов'ю до дітей</h1>
  <ul class="gallery-list">
    <li class="gallery-item"><img class="gallery-img" src="/src/images/logo.jpg" alt="logo"></li>
    <li class="gallery-item"><img class="gallery-img" src="/src/images/logo.jpg" alt="logo"></li>
    <li class="gallery-item"><img class="gallery-img" src="/src/images/logo.jpg" alt="logo"></li>
    <li class="gallery-item"><img class="gallery-img" src="/src/images/logo.jpg" alt="logo"></li>
    <li class="gallery-item"><img class="gallery-img" src="/src/images/logo.jpg" alt="logo"></li>
    <li class="gallery-item"><img class="gallery-img" src="/src/images/logo.jpg" alt="logo"></li>
    <li class="gallery-item"><img class="gallery-img" src="/src/images/logo.jpg" alt="logo"></li>
  </ul>
</div>