<div class="main">
<h1 class="title">About NineArtClub</h1>
<h2 class="about">Центр розвитку дiтей «Nineartclub”
  створений з любов’ю для дітей</h2>
  
  <p class="text"> Наша мета: забезпечити всі необхідні умови для того, щоб ваша дитина виросла активною та комунікабельною, гармонійною і творчою особистістю,
  розвинути таланти, отримати враження та емоційну насолоду.
  
  Головне в житті – це відчуття щастя та неповторності! Кожна дитина особлива, ми прагнемо розкрити індивідуальність кожного, та допомогти реалізувати таланти!
  
  Любов, турбота, підтримка, чуйність, доброта – основи нашого підходу! </p>
  <h3 class="directions">Напрямки центру</h3>
 <p class="text"> Різноманітність напрямків центру дозволить обрати саме те, що необхідно саме вам.</p>
</div>